* text=auto !eol
/AUTHORS -text
/Dependencies -text
/LICENSE -text
/README -text
Vol/AUTHORS -text
Vol/INSTALL -text
Vol/LICENSE -text
Vol/MSVisualStudio/v6/libVol/libVol.dsp -text
Vol/MSVisualStudio/v7/libVol/libVol.vcproj -text
Vol/MSVisualStudio/v8/libVol/libVol.vcproj -text
Vol/MSVisualStudio/v9/OsiVolUnitTest/OsiVolUnitTest.vcproj -text
Vol/MSVisualStudio/v9/Vol.sln -text
Vol/MSVisualStudio/v9/libOsiVol/libOsiVol.vcproj -text
Vol/MSVisualStudio/v9/libVol/libVol.vcproj -text
Vol/README -text
Vol/config.guess -text
Vol/config.sub -text
Vol/configure -text
Vol/configure.ac -text
Vol/depcomp -text
Vol/doc/volDoc.bib -text
Vol/doc/volDoc.pdf -text
Vol/doc/volDoc.ps -text
Vol/doc/volDoc.tex -text
Vol/doxydoc/doxygen.conf.in -text
Vol/examples/VolLp/INSTALL -text
Vol/examples/VolLp/Makefile.in -text
Vol/examples/VolLp/vollp.cpp -text
Vol/examples/VolUfl/INSTALL -text
Vol/examples/VolUfl/Makefile.in -text
Vol/examples/VolUfl/data.gz -text
Vol/examples/VolUfl/ufl.cpp -text
Vol/examples/VolUfl/ufl.hpp -text
Vol/examples/VolUfl/ufl.par -text
Vol/examples/Volume-LP/Makefile.in -text
Vol/examples/Volume-LP/README -text
Vol/examples/Volume-LP/data.mps.gz -text
Vol/examples/Volume-LP/lp.cpp -text
Vol/examples/Volume-LP/lp.h -text
Vol/examples/Volume-LP/lp.par -text
Vol/examples/Volume-LP/lpc.cpp -text
Vol/examples/Volume-LP/lpc.h -text
Vol/examples/Volume-LP/reader.cpp -text
Vol/examples/Volume-LP/reader.h -text
Vol/inc/config_vol.h.in -text
Vol/install-sh -text
Vol/ltmain.sh -text
Vol/missing -text
Vol/src/OsiVol/Makefile.am -text
Vol/src/OsiVol/Makefile.in -text
Vol/src/OsiVol/OsiVolSolverInterface.cpp -text
Vol/src/OsiVol/OsiVolSolverInterface.hpp -text
Vol/src/OsiVol/OsiVolSolverInterfaceIO.cpp -text
Vol/src/OsiVol/osi-vol-uninstalled.pc.in -text
Vol/src/OsiVol/osi-vol.pc.in -text
Vol/test/Makefile.am -text
Vol/test/Makefile.in -text
Vol/test/OsiVolSolverInterfaceTest.cpp -text
Vol/test/osiUnitTest.cpp -text
Vol/vol-uninstalled.pc.in -text
Vol/vol.pc.in -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
/missing -text
