* text=auto !eol
/Externals -text
Vol/configure -text
Vol/configure.ac -text
Vol/doc/doxygen.conf -text
Vol/examples/VolLp/INSTALL -text
Vol/examples/VolLp/Makefile.in -text
Vol/examples/VolLp/vollp.cpp -text
Vol/examples/VolUfl/INSTALL -text
Vol/examples/VolUfl/Makefile.in -text
Vol/examples/VolUfl/data.gz -text
Vol/examples/VolUfl/doc/ufldoc.bib -text
Vol/examples/VolUfl/doc/ufldoc.ps -text
Vol/examples/VolUfl/doc/ufldoc.tex -text
Vol/examples/VolUfl/ufl.cpp -text
Vol/examples/VolUfl/ufl.hpp -text
Vol/examples/VolUfl/ufl.par -text
Vol/examples/Volume-LP/Doc/doc.bib -text
Vol/examples/Volume-LP/Doc/doc_latex.dvi -text
Vol/examples/Volume-LP/Doc/doc_latex.ps -text
Vol/examples/Volume-LP/Doc/doc_latex.tex -text
Vol/examples/Volume-LP/Makefile.in -text
Vol/examples/Volume-LP/README -text
Vol/examples/Volume-LP/data.mps.gz -text
Vol/examples/Volume-LP/lp.cpp -text
Vol/examples/Volume-LP/lp.h -text
Vol/examples/Volume-LP/lp.par -text
Vol/examples/Volume-LP/lpc.cpp -text
Vol/examples/Volume-LP/lpc.h -text
Vol/examples/Volume-LP/reader.cpp -text
Vol/examples/Volume-LP/reader.h -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
/missing -text
