* text=auto !eol
stable/1.0/LICENSE -text
stable/1.0/README -text
stable/1.0/Vol/LICENSE -text
stable/1.0/Vol/configure -text
stable/1.0/Vol/configure.ac -text
stable/1.0/Vol/doc/volDoc.bib -text
stable/1.0/Vol/doc/volDoc.pdf -text
stable/1.0/Vol/doc/volDoc.ps -text
stable/1.0/Vol/doc/volDoc.tex -text
stable/1.0/Vol/examples/VolLp/INSTALL -text
stable/1.0/Vol/examples/VolLp/Makefile.in -text
stable/1.0/Vol/examples/VolLp/vollp.cpp -text
stable/1.0/Vol/examples/VolUfl/INSTALL -text
stable/1.0/Vol/examples/VolUfl/Makefile.in -text
stable/1.0/Vol/examples/VolUfl/data.gz -text
stable/1.0/Vol/examples/VolUfl/ufl.cpp -text
stable/1.0/Vol/examples/VolUfl/ufl.hpp -text
stable/1.0/Vol/examples/VolUfl/ufl.par -text
stable/1.0/Vol/examples/Volume-LP/Makefile.in -text
stable/1.0/Vol/examples/Volume-LP/README -text
stable/1.0/Vol/examples/Volume-LP/data.mps.gz -text
stable/1.0/Vol/examples/Volume-LP/lp.cpp -text
stable/1.0/Vol/examples/Volume-LP/lp.h -text
stable/1.0/Vol/examples/Volume-LP/lp.par -text
stable/1.0/Vol/examples/Volume-LP/lpc.cpp -text
stable/1.0/Vol/examples/Volume-LP/lpc.h -text
stable/1.0/Vol/examples/Volume-LP/reader.cpp -text
stable/1.0/Vol/examples/Volume-LP/reader.h -text
stable/1.0/Vol/vol_addlibs.txt.in -text
stable/1.0/config.guess -text
stable/1.0/config.sub -text
stable/1.0/configure -text
stable/1.0/configure.ac -text
stable/1.0/depcomp -text
stable/1.0/doxydoc/doxygen.conf -text
stable/1.0/install-sh -text
stable/1.0/missing -text
stable/1.1/LICENSE -text
stable/1.1/README -text
stable/1.1/Vol/LICENSE -text
stable/1.1/Vol/MSVisualStudio/v6/libVol/libVol.dsp -text
stable/1.1/Vol/MSVisualStudio/v7/libVol/libVol.vcproj -text
stable/1.1/Vol/MSVisualStudio/v8/libVol/libVol.vcproj -text
stable/1.1/Vol/configure -text
stable/1.1/Vol/configure.ac -text
stable/1.1/Vol/doc/volDoc.bib -text
stable/1.1/Vol/doc/volDoc.pdf -text
stable/1.1/Vol/doc/volDoc.ps -text
stable/1.1/Vol/doc/volDoc.tex -text
stable/1.1/Vol/examples/VolLp/INSTALL -text
stable/1.1/Vol/examples/VolLp/Makefile.in -text
stable/1.1/Vol/examples/VolLp/vollp.cpp -text
stable/1.1/Vol/examples/VolUfl/INSTALL -text
stable/1.1/Vol/examples/VolUfl/Makefile.in -text
stable/1.1/Vol/examples/VolUfl/data.gz -text
stable/1.1/Vol/examples/VolUfl/ufl.cpp -text
stable/1.1/Vol/examples/VolUfl/ufl.hpp -text
stable/1.1/Vol/examples/VolUfl/ufl.par -text
stable/1.1/Vol/examples/Volume-LP/Makefile.in -text
stable/1.1/Vol/examples/Volume-LP/README -text
stable/1.1/Vol/examples/Volume-LP/data.mps.gz -text
stable/1.1/Vol/examples/Volume-LP/lp.cpp -text
stable/1.1/Vol/examples/Volume-LP/lp.h -text
stable/1.1/Vol/examples/Volume-LP/lp.par -text
stable/1.1/Vol/examples/Volume-LP/lpc.cpp -text
stable/1.1/Vol/examples/Volume-LP/lpc.h -text
stable/1.1/Vol/examples/Volume-LP/reader.cpp -text
stable/1.1/Vol/examples/Volume-LP/reader.h -text
stable/1.1/Vol/vol_addlibs.txt.in -text
stable/1.1/config.guess -text
stable/1.1/config.sub -text
stable/1.1/configure -text
stable/1.1/configure.ac -text
stable/1.1/depcomp -text
stable/1.1/doxydoc/doxygen.conf -text
stable/1.1/install-sh -text
stable/1.1/missing -text
trunk/LICENSE -text
trunk/README -text
trunk/Vol/LICENSE -text
trunk/Vol/MSVisualStudio/v6/libVol/libVol.dsp -text
trunk/Vol/MSVisualStudio/v7/libVol/libVol.vcproj -text
trunk/Vol/MSVisualStudio/v8/libVol/libVol.vcproj -text
trunk/Vol/configure -text
trunk/Vol/configure.ac -text
trunk/Vol/doc/volDoc.bib -text
trunk/Vol/doc/volDoc.pdf -text
trunk/Vol/doc/volDoc.ps -text
trunk/Vol/doc/volDoc.tex -text
trunk/Vol/examples/VolLp/INSTALL -text
trunk/Vol/examples/VolLp/Makefile.in -text
trunk/Vol/examples/VolLp/vollp.cpp -text
trunk/Vol/examples/VolUfl/INSTALL -text
trunk/Vol/examples/VolUfl/Makefile.in -text
trunk/Vol/examples/VolUfl/data.gz -text
trunk/Vol/examples/VolUfl/ufl.cpp -text
trunk/Vol/examples/VolUfl/ufl.hpp -text
trunk/Vol/examples/VolUfl/ufl.par -text
trunk/Vol/examples/Volume-LP/Makefile.in -text
trunk/Vol/examples/Volume-LP/README -text
trunk/Vol/examples/Volume-LP/data.mps.gz -text
trunk/Vol/examples/Volume-LP/lp.cpp -text
trunk/Vol/examples/Volume-LP/lp.h -text
trunk/Vol/examples/Volume-LP/lp.par -text
trunk/Vol/examples/Volume-LP/lpc.cpp -text
trunk/Vol/examples/Volume-LP/lpc.h -text
trunk/Vol/examples/Volume-LP/reader.cpp -text
trunk/Vol/examples/Volume-LP/reader.h -text
trunk/Vol/vol_addlibs.txt.in -text
trunk/config.guess -text
trunk/config.sub -text
trunk/configure -text
trunk/configure.ac -text
trunk/depcomp -text
trunk/doxydoc/doxygen.conf -text
trunk/install-sh -text
trunk/missing -text
